:root {
    /* Secondary */
    --tant-secondary-color-secondary-default: #D4D5E1;
    --tant-secondary-color-secondary-hover: #9FA0AC;
    --tant-secondary-color-secondary-active: #FFFFFF;
    --tant-secondary-color-secondary-disable: #6B6C77;
    --tant-secondary-color-secondary-fill: #2F303B;
    --tant-secondary-color-secondary-fill-hover: #282A34;
    --tant-secondary-color-secondary-fill-active: #363742;

    /* 可能有问题 */
    --tant-secondary-color-secondary-transp-fill: #b9becf4d;
    --tant-secondary-color-secondary-transp-hover: #b9becf33;
    --tant-secondary-color-secondary-transp-active: #b9becf80;
}